@font-face {
    font-family: 'fengardo-neue-black';
    src: url('fonts/fengardo_neue/web/fengardoneue_black-webfont.eot');
    src: url('fonts/fengardo_neue/web/fengardoneue_black-webfont.woff');
    src: url('fonts/fengardo_neue/web/fengardoneue_black-webfont.svg');
    src: url('fonts/fengardo_neue/web/fengardoneue_black-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fengardo-neue-regular';
    src: url('fonts/fengardo_neue/web/fengardoneue_regular-webfont.eot');
    src: url('fonts/fengardo_neue/web/fengardoneue_regular-webfont.svg');
    src: url('fonts/fengardo_neue/web/fengardoneue_regular-webfont.ttf');
    src: url('fonts/fengardo_neue/web/fengardoneue_regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}
   /*grille index*/ .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-flow: row column;
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  
  .item {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }
  /*grille mca affiches*/
  .grid-container-mca {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  
  @media (min-width: 768px) {
    .grid-container-mca {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .column {
    background-color: #f1f1f1;
    padding: 10px;
  }

/*grille programme mca*/
.grid-container-programme-mca {
display: grid;
grid-template-columns: 1fr;
grid-gap: 10px;
}

@media (min-width: 768px) {
.grid-container-programme-mca {
  grid-template-columns: repeat(3, 1fr);
}
}

.grid-item {
text-align: center;
}

/*grille mémoire*/
.grid-container-memoire {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
margin-top: 15px;
}

@media (max-width: 768px) {
.grid-container-memoire {
  grid-template-columns: 1fr;
}
}

.grid-item {
text-align: center;
}

/*grilles storie di merletti*/
.grid-container-burano {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
margin-top: 15px;
}

@media (max-width: 768px) {
.grid-container-burano {
  grid-template-columns: 1fr;
}
}

.grid-item {
text-align: center;
}

.grid-container-burano2 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
margin-top: 15px;
}

@media (max-width: 768px) {
.grid-container-burano2 {
  grid-template-columns: 1fr;
}
}

.grid-item {
text-align: center;
}

/*grille alea affiches*/
.grid-container-alea-affiches {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
margin-top: 15px;
}

@media (max-width: 768px) {
.grid-container-alea-affiches {
  grid-template-columns: 1fr;
}
}

.grid-item {
text-align: center;
}

/*grille alea édition*/
.grid-container-alea-edition {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 15px;
    }
    
    @media (max-width: 768px) {
    .grid-container-alea-edition {
      grid-template-columns: 1fr;
    }
    }
    
    .grid-item {
    text-align: center;
    }

/*grille recherches alea*/
    .grid-container-alea-recherches {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin-top: 15px;
        }
        
        @media (max-width: 768px) {
        .grid-container-alea-recherches {
          grid-template-columns: 1fr;
        }
        }
        
        .grid-item {
        text-align: center;
        }
/*grille recode*/

.grid-container-recode {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 15px;
    }
    
    @media (max-width: 768px) {
    .grid-container-recode {
      grid-template-columns: 1fr;
    }
    }
    
    .grid-item {
    text-align: center;
    }  

/*grille carte graphique*/
.grid-container-carte-graphique {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 15px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    }
    
    @media (max-width: 768px) {
    .grid-container-carte-graphique {
      grid-template-columns: 1fr;
    }
    }
    
    .grid-item {
    text-align: center;
    }  

/*grille errances d'une volute*/

.grid-container-edv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 15px;
    }
    
    @media (max-width: 768px) {
    .grid-container-edv {
      grid-template-columns: 1fr;
    }
    }
    
    .grid-item {
    text-align: center;
    }  
/*grille ciel étoilé*/
.grid-container-ciel-etoile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 15px;
    }
    
    @media (max-width: 768px) {
    .grid-container-ciel-etoile {
      grid-template-columns: 1fr;
    }
    }
    
    .grid-item {
    text-align: center;
    } 
/*grille pommerat*/ 
.grid-container-pommerat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 15px;
    }
    
    @media (max-width: 768px) {
    .grid-container-pommerat {
      grid-template-columns: 1fr;
    }
    }
    
    .grid-item {
    text-align: center;
    }

/*grille gibbons*/
.grid-container-gibbons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 15px;
    }
    
    @media (max-width: 768px) {
    .grid-container-gibbons {
      grid-template-columns: 1fr;
    }
    }
    
    .grid-item {
    text-align: center;
    }
/*Venise*/

.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  
  .slide {
    display: none;
    text-align: center;
  }
  
  .slide img {
    max-width: 60%;
    height: auto;
  }
  
  .prev-btn {
    background-image: url('images/bouton-precedent.jpg');

    /* Autres styles personnalisés pour le bouton précédent */
  }
  
  .next-btn {
    background-image: url('images/bouton-suivant.jpg');
    
    /* Autres styles personnalisés pour le bouton suivant */
  }
  
  /* Styles de base pour les boutons */
  .prev-btn,
.next-btn {
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}


.prev-btn {
  left: 80px;
}

.next-btn {
  right: 80px;
}

/* Styles pour les écrans de petite taille */
@media screen and (max-width: 487px) { /*iphones 6-7-8*/
    .slide img {
      max-width: 150%;
      height: auto;
    }
    
    .prev-btn,
    .next-btn {
      width: 100px;
      height: 100px;
      font-size: 20px;
    }

    .prev-btn {
      left: 25px;
      top: 50%; /* Déplace le bouton vers le bas de 50% de la hauteur */
      transform: translateY(-50%); /* Centre verticalement le bouton */
    }
    
    .next-btn {
      right: 25px;
      top: 50%; /* Déplace le bouton vers le bas de 50% de la hauteur */
      transform: translateY(-50%); /* Centre verticalement le bouton */
    }
}

  /*Iphone X*/
  @media screen and (max-width: 375px) {
    .slide img {
      max-width: 100%;
      height: auto;
    }
    
    .prev-btn,
    .next-btn {
      width: 100px;
      height: 100px;
      font-size: 20px;
      top: 320px;
    }

    .prev-btn{
        left: 20px;
    }
    .next-btn{
        right: 20px;
    }
  }
  
  /* Styles pour les écrans de taille moyenne */
  @media screen and (max-width: 768px) {
    .slide img {
      max-width: 80%;
      height: auto;
    }
    
    .prev-btn,
    .next-btn {
      width: 20px;
      height: 20px;
      font-size: 24px;
    }
  }
  
  /* Styles pour les écrans de grande taille */
  @media screen and (min-width: 1024px) {
    .slide img {
      max-width: 60%;
      height: auto;
    }
    
    .prev-btn,
    .next-btn {
      width: 150px;
      height: 150px;
      font-size: 28px;
    }
  }
  


  
/* PARAMÈTRES GÉNÉRAUX */

/*LOGO*/

#logo-icon {
    width: 16px;
    height: 16px;
  }
  
  .logo-container {
    display: flex;
    align-items:center;
  }
  
  .logo {
    width: 60px; /* Ajustez la taille du logo selon vos besoins */
    margin-right: 10px; /* Ajoutez un espacement entre le logo et le texte */
  }

  .logo-container2 {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 80px; /* Ajustez la taille du logo selon vos besoins */
    margin-right: 10px; /* Ajoutez un espacement entre le logo et le texte */
  }
  
img {
    max-width: 100%;
    height: auto;
    align-content: center;
}

h1 {
    font-family: 'fengardo-neue-black';
    font-size: 45px;
    color:hotpink;
    margin-bottom: 10px;
    line-height: 1;
    max-width: 17em;
}

body {
    padding: 15px;
    max-width: auto;
}

p {
    font-family: 'fengardo-neue-regular';
    font-size: 20px;
    text-align: left;
    line-height: 1.2;
    color: black;
    max-width: 25em;
}

a {
    font-family: 'fengardo-neue-black';
    text-decoration: none;
    color:hotpink;
    font-size: 20px;

}

div a {
    display: inline;
    margin-right: 20px; 
    font-size: 30px;/* Ajoute un espacement entre les liens si nécessaire */
  }
  

a:hover {
    opacity: 0.5;
    transition: 0.8s;
}